.navbar .navbar-toggler {
  border: none;
  outline: none;
  width: 0;
}
.navbar {
  background: linear-gradient(90deg, #da0842 0%, #8c0080 100%);
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff !important;
} 
.nav-item{
    margin: 0 10px;
}
@media (min-width: 992px){
.navbar-expand-lg{
    flex-flow: wrap;

}
.nav-media{
    display: none !important;
}.nav-no-media{
    display: block;
}
.container > .collapsed{
    display: none;
}
}

@media (max-width: 991px){
    .nav-no-media{
        display: none !important;
    }
}
.dropdown-divider{
    padding: 0 2px !important;
    margin: 0 0 !important;
}
.dropdown-item{
    padding: 0 1rem !important;
    height: 40px;
    display: flex !important;
    align-items: center;
}

.dropdown-menu{
    padding: 0 0;
    overflow: hidden;
}

.nav-media .show{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.collapsing{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.nav-media{
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 99;
    left: 0;
    width: 100%;
}
.nav-no-media{
    width: 100%;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    /* color: rgb(85, 85, 85); */
}
 li.dropdown:hover > .dropdown-menu {
    display: block;
} 
.nav-media .navbar-nav a {
color: #464646;
font-weight: bold;
}

.nav-media .navbar-nav a:hover{
    color: #c20555;

}
.nav-media .dropdown-menu{
    border: none;
}
.nav-media .dropdown-menu a:hover { 
    background: none !important;
}