.left-fourth {
  margin-top: 40px;
  margin-bottom: 40px;
}

.left-fourth-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.top-news {
  position: relative;
  background-size: cover;
  height: 240px;
}

.top-news .top-news-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.top-news .top-news-details:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.top-news .top-news-details a {
  overflow: hidden;
  color: #ffffff;
  font-size: 18px;
  margin: 20px auto;
  width: 85%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 25px;
  height: 75px;
  font-weight: bold;
}
.top-news .top-news-details a:hover {
  text-decoration: underline;
}

.left-fourth-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 30px;
}

.fourth-element {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 16px;
}

.left-fourth span {
  color: #a0a0a0;
  font-size: 14px;
}

.fourth-element .news-img {
  height: 100px;
  width: 135px;
  background-size: cover;
  background-position: 50% 50%;
}

.fourth-element a {
  color: #212121;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 25px;
  height: 53px;
  font-weight: bold;
  cursor: pointer;
}
.fourth-element a:hover {
  text-decoration: underline;
}
