.about--us h2 {
    background: linear-gradient(90deg, #da0842 0%, #8c0080 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    font-weight: bold;
  }
  .about--us p {
    font-size: 16px;
    color: #212121;
    width: 80%;
    margin: 30px auto 0;
  }