.heading {
    text-align: center;
    position: relative;
}

.heading h2 {
    display: inline-block;
    text-transform: capitalize;
    background: linear-gradient(90deg, #DA0842 0%, #8C0080 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: bold;
}

.heading h2:before, .heading h2:after {
    content: "";
    position: absolute;
    height: 2px;
    border-top: 1px solid #DBDBDB;
    top: 50%;
    width: 35%;
}

.heading h2:before {
    right: 0;
}

.heading h2:after {
    left: 0;
}