.footer {
    background-color: #252525;
    color: #FFF;
    padding: 40px 0 30px;
}

.footer .footer--container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 130px;
    grid-row-gap: 30px;
}