.first--nav {
    height: 40px;
    background-color: #FFFFFF;
    box-shadow: 1px 5px 15px 5px rgba(33, 12, 13, 0.05);
    display: flex;
    align-items: center;
}

.first--nav .first--nav--data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first--nav .first--nav--data .first--left span {
    color: #707070;
    font-size: 14px;
    margin: 0 5px;
    padding-right: 10px;
    border-right: 1px solid #707070;
    font-weight: bold;
}

.first--nav .first--nav--data .first--left span:last-child {
    border: none;
}

.first--nav .first--nav--data .first--left a {
    text-decoration: none;
    color: #707070;
}

.first--nav .first--nav--data .first--left a:hover {
    color: #5a5858;
}

.first--nav .first--nav--data .first--right i {
    margin: 0 5px;
    font-size: 14px;
    color: #CCCCCC;
    cursor: pointer;
}

.first--nav .first--nav--data .first--right i:hover {
    background: linear-gradient(90deg, #DA0842 0%, #8C0080 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
}