.post--details {
  color: #262626;
  font-size: 16px;
}
.post--details a {
  color: #cb064e;
  text-decoration: underline;
}
.post--details p {
  margin-bottom: 30px;
}
.post--details p strong {
  font-size: 18px;
}
.post--details video {
  display: block;
  width: 100%;
  margin: 30px 0;
}
.post--details img {
  max-width: 100%;
}

.post--details blockquote {
  border-left: 2px solid #8b8d91;
  text-align: left;

}