.bottom--about {
  text-align: center;
  padding-top: 50px;
}
.bottom--about .about--bg {
  background-attachment: fixed;
  height: 240px;
  position: relative;
  background-position: center center;
  background-size: cover;
  margin-top: 50px;
}
.bottom--about .about--bg .about--bg--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}
.bottom--about .about--bg .about--bg--overlay .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom--about .about--bg .about--bg--overlay .content h3 {
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0;
}
.bottom--about .about--bg .about--bg--overlay .content h6 {
  font-size: 18px;
  color: #fff;
  font-weight: 100;
}
