.second--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.second--nav .logo {
    cursor: pointer;
    height: 40px;
    width: auto;
    margin-bottom: 20px;
}

.second--nav .first--adv {
    width: 728px;
    height: 90px;
}