.contact .right .row > div > div {
  height: 97px;
  border: 1px solid #e1e1e1;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  cursor: pointer;
  /* width: 115%; */
}
.contact .right .row > div > div:hover {
    background: #EEE;
}

.contact .right .row {
  margin-top: 40px;
}
.contact .right .row > div > div h3 {
  color: #222222;
  font-size: 18px;
  font-weight: bold;
  margin: 12px 0 0;
}

.contact .right .row > div > div h5 {
  color: #222222;
  font-size: 18px;
}
