.auther--details {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 15px;
}

.auther--details img {
  height: 101px;
  width: 101px;
  border-radius: 50%;
  align-self: center;
}
.auther--details > div h5 {
  background: linear-gradient(90deg, #da0842 0%, #8c0080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-style: italic;
  font-weight: 100;
}
.auther--details > div h4 {
  font-size: 18px;
  margin: 15px 0;
}
.auther--details > div p {
  color: #a0a0a0;
  font-size: 14px;
}
