.top--about {
  background-color: #fafafa;
  padding: 40px 0;
  text-align: center;
}

.top--about .box--about {
  background: #fff;
  border: 1px solid #e1e4e4;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0;
  width: 85%;
  margin-bottom: 40px;
}
.top--about .row {
  margin-top: 50px;
}
.top--about .row > div {
  display: flex;
  justify-content: center;
}
.top--about .row .box--about i {
  color: #212121;
}
.top--about .row .box--about h6 {
  margin: 25px 0 13px;
  color: #212121;
  font-size: 13px;
  font-weight: bold;
}
.top--about .row .box--about p {
  font-size: 10px;
  color: #a0a0a0;
}
