@media (max-width: 450px) {
  .first--nav {
    height: 100px !important;
  }
  .heading h2:before,
  .heading h2:after {
    width: 24% !important;
  }
  .first--nav .first--nav--data .first--left span {
    font-size: 10px !important;
  }
  .post-component span {
    font-size: 10px !important;
  }
  .post-component h4 {
    font-size: 15px !important;
  }
  .top-news .top-news-details h2 {
    font-size: 16px !important;
    height: 37px;
  }
  .second--footer {
    grid-template-columns: 1fr !important;
  }
  .image-slider .news-details {
    width: unset;
  }
  .last--posts .second--photos {
    grid-template-columns: 1fr;
  }
  .top--section .adv {
    width: 100%;
    height: 50px;
  }
  .category-bottom-section .post {
    grid-template-columns: 1fr;
  }
  .category-paging {
    width: 100%;
  }
  .auther--details {
    grid-template-columns: 1fr;
  }
}
