@media (min-width: 768px) and (max-width: 1000px) {
  .second--nav {
    display: block !important;
    text-align: center;
  }
  .second--nav .first--adv {
    width: 100% !important;
  }
  .second--secion .adv {
    width: 100% !important;
  }
  .top--section .adv {
    width: 100% !important;
  }
  .third-section .third-section-container {
    grid-template-columns: 1fr;
  }
  .right-section .popular--posts {
    display: grid;
    grid-template-columns: 1fr;
  }
  .second--footer h2:before,
  .second--footer h2:after {
    width: 17% !important;
  }
  .sixth-element {
    grid-template-columns: 1fr 2fr;
  }
  .sixth-element img {
    height: 100px;
    width: 135px;
  }
  .left-sixth-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .last--posts {
    grid-template-columns: 1fr;
  }
  .category-bottom-section .post-details .category-post-title{
    height: 54px;
  }
  .category-bottom-section{
    grid-template-columns: 1fr;
  }
  .article .social--post p {
    display: none
  }
  .NewsContainer{
    grid-template-columns: 1fr;
  }
}
