.nav-media .profile {
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: 5px;
  }
  .nav-no-media .profile {
    color: rgb(255, 255, 255);
    display: flex;
  }
  .profile i {
    margin: 0 8px;
  }
  
  .profile i:first-child {
    border-right: 1px solid;
    padding-right: 16px;
  }
  .nav-media .navbar-brand{
    align-self: flex-start;
justify-self: self-end;
  }