ul.breadcrumb {
  padding: 0 16px;
  list-style: none;
  background: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
  color: #cdcdcd;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #212121;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #212121;
  text-decoration: none;
  font-weight: bold;
}
.breadcrumb--container h2 {
  font-size: 20px;
  font-weight: bold
}
