.add--comment {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}
.add--comment img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.add-comment-button {
text-align: center;
  height: 42px;
  width: 100%;
  color: #fff;
  border: none;
  font-size: 14px;
  text-transform: unset;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: -webkit-linear-gradient(left, #da0842 0%, #8c0080 100%);
}
