.comments .single--comment {
  display: grid;
  grid-template-columns: 1fr 7fr;
  margin-bottom: 40px;
}
.comments img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.comments .single--comment {
  border-bottom: 1px solid #e6e6e6;
}
.comments .single--comment h5 {
  color: #333333;
  font-size: 16px;
  margin-bottom: 9px;
  font-weight: bolder;
}

.comments .single--comment span {
  color: #c4c4c4;
  font-size: 12px;
}

.comments .single--comment p {
  color: #7b7b7b;
  font-size: 14px;
  margin-top: 22px;
}
