.second--secion {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 63px;
    min-height: 545px;
}

.second--secion .slick-slider {
    margin-top: 40px;
}

.second--secion .adv {
    width: 728px;
    height: 90px;
    margin-bottom: 40px
}
.newsPage .adv {
    height: 90px !important;
}
.top--secion .slick-slider {
    margin-top: 40px;
}