.left-sixth-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  margin-top: 41px;
  grid-column-gap: 22px;
  grid-row-gap: 30px;
}
.left-sixth span {
  color: #a0a0a0;
}
.left-sixth {
  margin-top: 40px;
}

.sixth-element {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.sixth-element .news-img {
  background-size: cover;
  background-position: 50% 50%;
  height: 150px;
}

.sixth-element a {
  color: #212121;
  font-size: 18px;
  overflow: hidden;
  margin-bottom: 16px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 25px;
  height: 53px;
  font-weight: bold;
}

.sixth-element a:hover {
  text-decoration: underline;
}
