body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swal2-popup.swal2-toast .swal2-title{
  font-size: 15px !important
}

.swal2-toast-shown .swal2-shown{
  /* position: absolute !important */
}

.post-small img {
  width: auto;
  height: auto;
}.categories img {
  height: auto;
  width: auto
} 
.footer-entry .post-small img {
  width: 100px;
  height: 72px;
 }
.popular__image{
  width: auto !important;
  height: auto !important;
} 
.latest--image {
  height: auto;
}
.editor--img {
  height: auto;
  width: auto;
} 

.entry__img {
  height: auto !important;
}
.comment-avatar{
  width: 70px;
  height: 70px;
}