
.right-section .heading h2:before, .right-section .heading h2:after {
    width: 19%;
}

.right-section .adv-image {
    height: 360px;
    margin: 40px 0;
    background-size: cover;
    background-position: center center;
}
.right-section img {
    width: 100%;
    height: 100%;
}
.Categories .ant-tag{
    display: table-cell;
}
.right-section .adv-video {
    margin: 40px 0;
    height: 536px;
    background-size: cover;
    background-position: center center;
}

.right-section .popular--posts {
    margin: 40px 0;
}